<article class="post">
    <div class="title">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <span>Posted by {{user.username}} on {{format_date created_at}} | <a href="/post/{{id}}" class="comment-link">{{comments.length}} {{format_plural "comment" comments.length}}</a></span>
    </div>
    <div class="meta">
        {{post_text}}
    </div>
</article>